<div class="col-sm-6 col-md-4 mb-4">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <span>Viaja el</span>
            <span>05/05/2021</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <span>Origen</span>
                <span>-</span>
                <span>Destino</span>
            </h5>
            <p class="card-text fs-6">
                Precio final desde:<br>
                <p class="card-text fw-bold ">USD 50,80</p>
            </p>
            <p class="card-text fs-6"> Tasas incluidas</p>
    
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4 mb-4">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <span>Viaja el</span>
            <span>05/05/2021</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <span>Origen</span>
                <span>-</span>
                <span>Destino</span>
            </h5>
            <p class="card-text fs-6">
                Precio final desde:<br>
                <p class="card-text fw-bold ">USD 50,80</p>
            </p>
            <p class="card-text fs-6"> Tasas incluidas</p>
    
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4 mb-4">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <span>Viaja el</span>
            <span>05/05/2021</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <span>Origen</span>
                <span>-</span>
                <span>Destino</span>
            </h5>
            <p class="card-text fs-6">
                Precio final desde:<br>
                <p class="card-text fw-bold ">USD 50,80</p>
            </p>
            <p class="card-text fs-6"> Tasas incluidas</p>
    
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4 mb-4">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <span>Viaja el</span>
            <span>05/05/2021</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <span>Origen</span>
                <span>-</span>
                <span>Destino</span>
            </h5>
            <p class="card-text fs-6">
                Precio final desde:<br>
                <p class="card-text fw-bold ">USD 50,80</p>
            </p>
            <p class="card-text fs-6"> Tasas incluidas</p>
    
        </div>
    </div>
</div>

<div class="col-sm-6 col-md-4 mb-4">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <span>Viaja el</span>
            <span>05/05/2021</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <span>Origen</span>
                <span>-</span>
                <span>Destino</span>
            </h5>
            <p class="card-text fs-6">
                Precio final desde:<br>
                <p class="card-text fw-bold ">USD 50,80</p>
            </p>
            <p class="card-text fs-6"> Tasas incluidas</p>
    
        </div>
    </div>
</div>