<footer class="container-fluid bg-dark text-white">
    <div class=" d-flex justify-content-center">
        <p>Copyright &copy; 2021-2020 Bryan Puchaicela - Aron Caballero, todos los derechos reservados.</p>
    </div>
</footer>