<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Google-Cloud</title>
</head>

<body>
    <%- include('partials/header') -%>
    <main>
        <%- include('partials/nav') -%>
        <div class="position-relative" >
            <div class="d-flex justify-content-center">
                <img class="container-img" src="/images/portada-miViaje.jpg" />
            </div>
        </div>
        <div class="container d-flex justify-content-center mt-3">
            <div class="d-flex flex-column align-content-center">
                <h2 class="mt-3 label-h2">Busca tu viaje</h2>
                <span class="span-label">Ingresa con el usuario que guardaste tu ticket</span>
                <form class="mt-3">
                    <input class="form-control mt-3" type="text" placeholder="usuario" autocomplete="off">
                    <div class="d-grid gap-2 mb-2">
                        <button class="btn btn-primary mt-3" type="submit">Buscar</button>
                    </div>
                </form>
                <div class="container-linea">
                    <div class="linea"></div>
                    <span>o</span>
                    <div class="linea"></div>
                </div>
            </div>
        </div>

        
    </main>
    <%- include('partials/footer') -%>

</body>

</html>